.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination__list {
    display: flex;
}

.pagination__item {
    display: flex;
}

.pagination__link {
    text-decoration: none;
    color: #000000;
    border: 1px solid transparent;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
}

.pagination__link--active {
    border: 1px solid transparent;
    background-color: #000000;
    color: #fff;
}

